DATABASE_URL=postgresql://postgres:Vedank10%40@localhost:5433/core_inventory
JWT_SECRET_KEY=Vedank10@
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
GROQ_API_KEY=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
ENVIRONMENT=development
